.coming-soon {
	color: $light;
	padding:150px 0;
	.block {
    h1 {
      font-size: 25px;
      line-height:40px;
    }
    p {
      color: $light;
      margin-top:20px;
    }
     .count-down {
      ul {
        li {
          display:inline-block;
          font-size: 90px;
          line-height:60px;
          text-align: center;
          position: relative;
          font-weight: bold;
          width: 25%;
          &:before {
            content: ":";
            font-size: 20pt;
            opacity: 0.7;
            position: absolute;
            right: 0px;
            top:0px;
          }
          &:last-child {
            &:before {
              content:'';
            }
          }
        }
      }
      div:after {
        content: " " attr(data-interval-text);
        font-size: 20px;
        font-weight: normal;
        text-transform: capitalize;
        display: block;
      }
    }
		
	}
}



