/* ------------------
    Number
-------------------- */
.page-404-wrapper {
  padding:150px 0 50px;
}

//.number{
//  background-image: url("../images/404/er404.png");
//  background-position: center;
//  background-repeat: no-repeat;
//  background-size: 100%;
//  width: 700px;
//  height: 245px;
//  margin: 20px 0 20px;
//  float: right;
//}

/* ------------------
    Child
-------------------- */
.child{
  background-image: url("../images/404/child.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 440px;
  height: 440px;
  float: left;
  margin: 0px 50px 50px 0;
  position: relative;
}
.child .mouth{
  position: absolute;
  background-image: url("../images/404/mouth.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 271px;
  height: 139px;
  top: 151px;
  left: 59px;
  -moz-animation: 0.5s ease 0s normal none infinite mouth;
  -moz-transform-origin: center top;
  -webkit-animation:mouth 0.5s infinite ease-in-out;
  -webkit-transform-origin:top;
  -o-animation: 0.5s ease 0s normal none infinite mouth;
  -o-transform-origin: center top;
  -o-animation:mouth 0.5s infinite ease-in-out;
  -o-transform-origin:top;
  -ms-animation: 0.5s ease 0s normal none infinite mouth;
  -ms-transform-origin: center top;
  -ms-animation:mouth 0.5s infinite ease-in-out;
  -ms-transform-origin:top;
  animation: 0.5s ease 0s normal none infinite mouth;
  transform-origin: center top;
  animation:mouth 0.5s infinite ease-in-out;
  transform-origin:top;
}
.child .hand{
  position: absolute;
  background-image: url("../images/404/hand.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 45px;
  height: 85px;
  top: 226px;
  left: 167px;
}

.btn-home {
  background-color: $blue;
  text-decoration: none;
  color: #fff;
  padding: 13px 30px;
  font-size: 20px;
  margin-top: 24px;
}
.btn-home:hover {
  color: #fff;
}

@-moz-keyframes mouth {
  0%{  top: 151px;  }
  50%{  top: 153px;  }
  100%{  top: 151px;  }
}
@-webkit-keyframes mouth {
  0%{  top: 151px;  }
  50%{  top: 153px;  }
  100%{  top: 151px;  }
}
@-o-keyframes mouth {
  0%{  top: 151px;  }
  50%{  top: 153px;  }
  100%{  top: 151px;  }
}
@-ms-keyframes mouth {
  0%{  top: 151px;  }
  50%{  top: 153px;  }
  100%{  top: 151px;  }
}
@keyframes mouth {
  0%{  top: 151px;  }
  50%{  top: 153px;  }
  100%{  top: 151px;  }
}


@-moz-keyframes mouth_little {
  0%{  top: 51px;  }
  50%{  top: 52px;  }
  100%{  top: 51px;  }
}
@-webkit-keyframes mouth_little {
  0%{  top: 51px;  }
  50%{  top: 52px;  }
  100%{  top: 51px;  }
}
@-o-keyframes mouth_little {
  0%{  top: 51px;  }
  50%{  top: 52px;  }
  100%{  top: 51px;  }
}
@-ms-keyframes mouth_little {
  0%{  top: 51px;  }
  50%{  top: 52px;  }
  100%{  top: 51px;  }
}
@keyframes mouth_little {
  0%{  top: 51px;  }
  50%{  top: 52px;  }
  100%{  top: 51px;  }
}

/* ------------------
    Info
--------------------*/
.info{
  position: relative;
  z-index: 999;
  padding:50px 0;
}

.info h2{
  font-size: 50px;
  font-weight: 700;
  color: #734b1e;
}

.info p{
  font-size: 20px;
  color: #553614;
}

/* ------------------
    Animationload
--------------------*/
.animationload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 999999;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
  background-image: url("../images/404/ajax-loader.gif");
  background-position: center;
  background-repeat: no-repeat;
}




@media (max-width: 1200px) {

  .info {
    text-align: center;
  }


}

@media (max-width: 992px) {

  .child {
    float: none;
    margin: 0 auto 40px;
  }

  .info{
    margin-bottom: 40px;
  }

}

@media (max-width: 770px) {

  .number{
    width: 607px;
    margin: 40px auto 20px;
    float: none;
  }


}

@media (max-width: 670px) {

  .number{
    width: 285px;
    height: 100px;
    margin: 40px auto 20px;
    float: none;
  }
  .child {
    width: 200px;
    height: 240px;
  }
  .child .mouth{
    width: 105px;
    height: 139px;
    top: 51px;
    left: 35px;
    -moz-animation: 0.5s ease 0s normal none infinite mouth_little;
    -moz-transform-origin: center top;
    -webkit-animation:mouth_little 0.5s infinite ease-in-out;
    -webkit-transform-origin:top;
    -o-animation: 0.5s ease 0s normal none infinite mouth_little;
    -o-transform-origin: center top;
    -o-animation:mouth_little 0.5s infinite ease-in-out;
    -o-transform-origin:top;
    -ms-animation: 0.5s ease 0s normal none infinite mouth_little;
    -ms-transform-origin: center top;
    -ms-animation:mouth_little 0.5s infinite ease-in-out;
    -ms-transform-origin:top;
    animation: 0.5s ease 0s normal none infinite mouth_little;
    transform-origin: center top;
    animation:mouth_little 0.5s infinite ease-in-out;
    transform-origin:top;
  }
  .child .hand{
    width: 19px;
    height: 33px;
    top: 127px;
    left: 76px;
  }

  .info h1 {
    font-size: 90px;
    font-weight: 700;
    margin-top: 10px;
    color: #222a4b;
  }
  .info h2 {
    font-size: 30px;
  }
  .info p {
    font-size: 16px;
  }
  .info p br{
    display: block;
  }


}