.product-items-wrapper {
}
.product-item {
	margin: 0px 0 30px;
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	&:hover {
		box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
		-webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
	}
	.product-thumb {
		overflow:hidden;
		position: relative;
		img {
			width:100%;
			height:auto;
		}
		a {
			display: block;
		}
		.badge {
			-webkit-transform: rotate(45deg);
		    transform: rotate(45deg);
		    background: $secondary-color;
		    border-radius: 0;
		    position: absolute;
		    right: -38px;
		    top: 6px;
		    display: inline-block;
		    width: 110px;
		    padding: 7px 12px;
		    font-size: 14px;
		}
		
	}
	.content {
		padding:25px 20px;
		background: $light;
		h4 {
			font-weight: 600;
			margin-top: 10px;
			margin-bottom: 5px;
			a {
				color: #444;
			}
		}
	}
	.product-meta {
		.price {
			display: inline-block;
			color: $primary-color;
            i {
              margin-right:3px;

            }
		}
		.author {
			color:#666;
			display: inline-block;
			float: right;
            font-size:12px;
            text-transform: capitalize;
            i {
              margin-right:3px;
              color:$primary-color;
            }
		}
	}
	.product-buttons {
		.btn-main-sm {
			text-transform: capitalize;
			margin-top: 10px;
		}
	}

}


.single-product-page {
	.product-page-header {
		h2 {
			font-size:25px;
			font-weight:400;
		}
	}
	.product-description {
		padding-top:30px;
		background: #f9f9f9;
	}

}



.widget {
	margin-bottom:30px;
	padding:20px;
	background:$light;
	ul {
		li {
			margin-bottom:6px;
		}
	}
	&.price-widget {
		.product-price {
			padding:25px;
			font-weight:700;
			font-size:20px;
		}
		.buy-button {
			margin-top: 20px;
		}

	}

	.widget-title {
		margin-bottom: 15px;
		margin-top:0;
		padding-bottom:10px;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	// Subscription Widget
	&.widget-subscription {
		.form-group {
			margin-bottom: 8px;
		}
		.btn-main {
			width: 100%;
		}
	}
	// Social Media
	&.widget-social-media {

	}
	// latest Posts
	&.widget-latest-post {
		.media {
			.media-heading {
				a {
					color: $black;
					font-size: 14px;
				}
			}
			p {
				font-size: 12px;
			}
		}
	} //end latest posts

	// Caterogry
	&.widget-category {
		ul {
			li {
				margin-bottom: 20px;
				a {
					color: #837f7e;
					&:before {
						padding-right: 10px;
						content: "\f3d1";
						font-family: $tf-font;
					}
					&:hover {
						color:$primary-color;
						padding-left: 5px;
					}
				}
			}
		}
	} //end caterogry

	// Tag Cloud
	&.widget-tag {
		ul {
			li {
				margin-bottom: 10px;
				display: inline-block;
				margin-right:5px;
				a {
					color: #837f7e;
					display: inline-block;
					padding:8px 15px;
					border:1px solid #dedede;
					border-radius: 30px;
					font-size: 12px;
					&:hover {
						color:$light;
						background: $primary-color;
					}
				}
			}
		}
	}

}












