.hero-area {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-top: 130px;
  }
  .block {
    padding:200px 0;
    h1 {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 20px;
      color:#black;
    }
    p {
      color: $black;
      font-size: 15px;
      margin-bottom: 20px
    }
    .btn-main {
      margin-top: 20px;
      &:hover {
        opacity: .8;
      }
    }
  }
}

.hero-area-video {
  height: 100vh;
  position: inherit!important;
  display: flex;
  justify-content: center;
  align-items: center;
  .block {
    color: $light;
    text-align: center;
    h1 {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      color: $light;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 3px;
      margin-bottom: 20px
    }
    .btn-main {
      margin-top: 20px;
    }
  } 
}





// Slider-1
.slider-1 {
  padding: 200px 0 100px;
  background-size:contain;
  display: flex;
  justify-content:center;
  align-items:center;
  background-size:cover;
  h1 {
    font-size: 60px;
    font-weight: bold;
  }
  .btn-main {
    margin-top:30px;
  }
}


// Slider with searchbox
.slider-searchbox {
  padding:180px 0 150px;
  .search-input {
    width: 50%;
    margin:30px auto;

    input[type="text"] {
      height:46px;
    }
  }
  h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 90px;
  }
  p {
    font-size: 30px;
  }
}









