
.no-padding {
  padding:0!important;
}
.inline-block {
  display: inline-block;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  -webkit-transition: all .2s ease-in 0s;
  -moz-transition: all .2s ease-in 0s;
  -o-transition: all .2s ease-in 0s;
  transition: all .2s ease-in 0s;
}

iframe {
  border: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus, a:hover {
  color: $primary-color;
}

.overly {
  position:relative;
  &:before {
    content:'';
    background: rgba(0, 0, 0, 0.51);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
}


input[type="email"],input[type="password"],input[type="text"],input[type="tel"]{
  border-radius:0;
  box-shadow:none;
  height:50px;
  outline: none;

  &:focus {
    box-shadow: none;
    border:1px solid $primary-color;
  }
}

.form-control {
  box-shadow: none;
  border-radius: 0;
}

.btn-main {
  background: $primary-color;
  color: $light;
  display: inline-block;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 14px 35px;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    background: darken( $primary-color, 20% );
    color: $light;
  }
}
.btn-main-sm {
  @extend .btn-main;
  padding:8px 27px;
}

.btn-live-preview {
  @extend .btn-main-sm;
  background: #444;
  &:hover {
    background:$black;
  }
}

.mt-20 {
  margin-top: 20px;
}

.section {
  padding:100px 0;
}

.btn:focus {
  color: #ddd;
}
#home {
  position: relative;
}

.w-100 {
  width: 100%;
}



#preloader {
  background: #fff;
  height: 100%;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999999999;
}




.btn.active:focus, .btn:active:focus, .btn:focus {
  outline: 0;
}


.parallax-section {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



// Preloader
.preloader {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
}
.preloader span {
  position: absolute;
  display: block;
  bottom: 0;
  width: 9px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  -webkit-animation: preloader 2s infinite ease-in-out;
  animation: preloader 2s infinite ease-in-out;
}
.preloader span:nth-child(2) {
  left: 11px;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.preloader span:nth-child(3) {
  left: 22px;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.preloader span:nth-child(4) {
  left: 33px;
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.preloader span:nth-child(5) {
  left: 44px;
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}
.preloader span:nth-child(6) {
  left: 55px;
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

@-webkit-keyframes preloader {
  0% {
    height: 5px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: rgba(0, 0, 0, 0.1);
  }
  25% {
    height: 30px;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    background: $primary-color;
  }
  50%,100% {
    height: 5px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: rgba(0, 0, 0, 0.1);
  }
}

@keyframes preloader {
  0% {
    height: 5px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background:#fff;
  }
  25% {
    height: 30px;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    background: #3498db;
  }
  50%,100% {
    height: 5px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #fff;
  }
}


// Common Styles
.section-title {
  padding:20px 0;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  &:before {
    content:'';
    width: 80px;
    bottom:0;
    left:50%;
    height:6px;
    background: $primary-color;
    position: absolute;
    transform: translate(-50%);
  }
  h2 {
    color: #444;
    position: relative;
    font-size: 30px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    color: #6f6f6f;
    letter-spacing: 2px;
    font-size: 12px;
  }
  &.title-white {
    h2 {
      color: $light;
    }
  }
}

.title {
  margin-bottom:50px;
  h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    font-size: 15px;
  }
}

// Page Title
.page-title {
  padding:120px 0 50px;
  background: $primary-color;
  text-align:center;
  position: relative;
  h2 {
    font-weight: 700;
    color: $light;
    font-size: 40px;
    text-transform: uppercase;
  }
  p {
    color: $light;
    width: 50%;
    margin: 0 auto;
  }
  .breadcrumb {
    background: transparent;
    a {
      color: $light;
    }
    .active {
      color: $light;
    }
  }
}

// Page Padding Wrapper
.page-wrapper {
  padding: 50px 0;
}

.bg-shadow {
  background-color: $light;
  box-shadow: 0 16px 24px rgba(0,0,0,.08);
  padding:20px;
}







.border {
  height: 1px;
  margin: 20px auto 20px;
  position: relative;
  width: 35%;
  &:before {
    background-color: $primary-color;
    content: "";
    height: 6px;
    left: 46%;
    margin-left: -20px;
    position: absolute;
    top: -5px;
    width: 70px;
  }
}

.bg-gray {
  background: #f9f9f9;
}



.header-bradcrumb {
  background: transparent;
  a , .active {
    color:#cfcfcf;
    font-weight: 200;
    font-family: $primary-font;
  }
  a:hover {
    color: $primary-color;
  }
}




// Social Media Icons 
.social-media-icons {
  ul {
      li {
        display: inline-block;
        a {
          font-size:18px;
          color: #333;
          display: inline-block;
          padding:7px 12px;
          color: $light;
        }
        .twitter {
          background: #00aced ;
        }
        .facebook {
          background: #3b5998 ;
          padding:7px 18px;
        }
        .googleplus{
          background: #dd4b39;
        }
        .dribbble {
          background: #ea4c89 ;
        }
        .instagram {
          background:#bc2a8d;
        }
      }
    }
}





// Color Switcher

.colors-switcher {
    width: 100px;
    padding: 20px 18px 14px 20px;
    position: fixed;
    z-index: 1993;
    top: 90px;
    right: 0;
    background-color: #fff;
    border-radius: 2px 0 0 2px;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    #show-panel {
      position: absolute;
      left: -38px;
      top: 15px;
      width: 38px;
      height: 38px;
      z-index: 1992;
      display: block;
      background-color: #fff;
      border-radius: 2px 0 0 2px;
      border: 1px solid rgba(0,0,0,.1);
      border-right: none;
      cursor: pointer;
      i {
        color: #3D3D3D;
        font-size: 20px;
        line-height: 38px;
        margin-left: 15px;
    }
  }
}


  .colors-list {
    margin:0;
    padding:0;
    li {
      display: inline-block;
      margin-bottom: 2px;
      margin-right: 4px;
      a {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 2px;
        transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        cursor: pointer;
      }
    }
  }
  .colors-switcher .colors-list a.light-red {
      background-color: #FF432E;
  }
  .colors-switcher .colors-list li a:hover {
      box-shadow:inset 0 0 6px rgba(0,0,0,.4);
  }
  .colors-switcher .colors-list a.light-red {
      background-color:#FF432E;
  }
  .colors-switcher .colors-list a.blue{
      background-color:#28ABE3;
  }
  .colors-switcher .colors-list a.light-blue {
      background-color:#69D2E7;
  }
  .colors-switcher .colors-list a.green {
      background-color:#5BB12F;
  }
  .colors-switcher .colors-list a.light-green {
      background-color:#BCCF02;
  }
  .colors-switcher .colors-list a.yellow {
      background-color:#FED136;
  }



.subscription-form {
  margin-top: 15px;
  input[type="email"] {
    width:75%;
    padding-left:10px;
    box-shadow:none;
    height:50px;
  }
  input[type=submit] {
    vertical-align: top;
    height: 50px;
    border:none;
    margin-left:-4px;
    @extend .btn-main;
  }
}



