@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
body {
  line-height: 1.5;
  font-family: $primary-font;
}
p {
  font-family: $primary-font;
  color: #757575;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}