
// Variables
$light: #fff;
$primary-color: #F8B412;
$secondary-color: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color: #dedede;
$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font:'Lora', serif;
$tf-font: 'themefisher-font';