/*Common Css files*/
a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.code {
    color: #FFF;
    background-color: #3A3A3A;
    padding: 10px;
    display:block;
    margin:5px 0;
    border-radius: 0;
}
ul {
    padding-left:0;
    li {
        list-style-type: none;
    }
}


.error-link {
    color: $orange;
}

.success-link {
    color:$blue;
}

.section-title {

    h2 {
        font-size: 20px;
        color:#555;
        margin-top: 20px;
    }
}
.page-title {
    margin-top: 70px;
    margin-bottom: 60px;
    h1 {
        font-size: 35px;
        margin-bottom: 15px;
        font-weight: 400;
    }
    h2 {
        font-size: 20px;
        color:#777;
        font-weight: 300;

    }
}

.section {
    padding:100px 0;
}
.bg-gray {
    background-color: #f9f9f9;
}
.inline-block {
    display:inline-block;
}
.mt-20 {
    margin-top: 20px;
}
.mt-180 {
    margin-top: 180px!important;
}

.page-wrapper {
    h1,h2,h3,h4,h5,h6 {
        margin-bottom: 10px;
    }
    p {
        font-size: 16px;
        line-height:24px;
        margin-bottom:6px;
    }
    ul,ol {
        li {
            font-size: 15px;
            font-weight:normal;
            margin-bottom: 7px;
        }
    }
    a {
        // color: $blue;
    }
    .bg-warning {
        padding:15px 20px;
        margin-bottom: 10px;
        font-size: 18px;
        h4 {
            margin:0;
        }
        a {
            color: $blue;
        }
    }
}


.wrapper {
    margin-bottom: 50px;
}
.sub-title {
    margin-bottom: 30px;
    padding: 0 0 10px;
    text-transform: uppercase;
    font-size: 20px;
    a {
        color: #3d3d3d;
    }
}


textarea {
    border-radius:0;
    outline:none!important;
    padding-left: 5px;
    box-shadow:none!important;
    border:1px solid #dedede!important; 
}

.btn-default {
    color: #fff;
    background: $dark-blue;
    padding: 12px 30px;
    border-radius: 0;
    letter-spacing: 2px;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    &:hover {
        text-decoration:none;
        background: #0493c9;
        border: none;
        color: #fff;
    }
}


// Btn Buy Now
.btn-blue {
    background: $blue;
    color: $light;
    text-transform:uppercase;
    letter-spacing: 2px;
    border-radius:40px;
    font-size: 13px;
    box-shadow: 0px 4px 9.48px 2.52px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    line-height: 1.2;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    padding: 13px 45px;
    &:hover {
        background: $dark-blue;
        color : $light;
    }
}
.btn-blue-sm {
    padding: 12px 30px;
    font-size: 12px;
}
.btn-light {
    text-transform:uppercase;
    letter-spacing: 2px;
    border-radius:40px;
    font-size:13px;
    box-shadow: 0px 4px 9.48px 2.52px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    line-height: 1.2;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    padding: 13px 45px;
    background:#fff;
    color: $text-gray;
    &:hover {
        background: $blue;
        color: $light;
    
    }
}
.btn-orange {
    background: $orange;
}
.btn-live-preview {
    text-transform:uppercase;
    letter-spacing: 2px;
    font-size:13px;
    font-weight: bold;
    line-height: 1.2;
    color: $light;
    border-radius:40px;
    box-shadow: 0px 4px 9.48px 2.52px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    line-height: 1.2;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    padding: 13px 45px;
    background: $gray;
    &:hover, &:active,&:focus {
        background: $dark-gray;
        color: $light;
    }
}

.btn-buy-license {
    background: $orange;
    @extend .btn-blue;
    &:hover {
        background: $dark-orange;
        color: $light;
    }
}

.buttons-area {
    margin-top: 40px;
    a {
        margin-right:23px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.btn-demo {
    padding: 8px 25px;
    background: #444;
    margin-bottom: 20px;
    margin-top: 10px;
    &:hover,&:focus {
        background: #333;
        color: #fff;
    }
}


.btn-download {
    padding: 8px 25px;
    font-size: 12px;
    background: #00aeef;
    margin-top: 10px;
    margin-bottom: 20px;
    &:hover, &:focus {
        background: #009cd6;
        padding: 8px 25px;
        color: #fff;
    }
}


.title {
    text-align: center;
    padding-bottom: 64px;
    h1,h2 {
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    p {
        color: #6b6b6b;
        line-height: 24px;
    }
}

.m-t-10 {
    margin-top: 10px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-top-50 {
    margin-top: 50px;
}
.m-top-60 {
    margin-top: 60px;
}
.m-top-70 {
    margin-top: 70px;
}






/*Global Header*/
.global-title {
    padding:140px 0 50px;
    text-align: center;
}
.global-title {
    h1 {
        color:$gray;
        font-size:35px;
        font-weight: 500;
        text-transform: uppercase;
    }
    h2 {
        font-size: 18px;
        color: #4a4a4a;
        font-weight: 300;
        margin-top: 15px;
    }
}






.products {
    padding: 100px 0 70px;
    background: #fff;
    .block {
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
        figure {
            position: relative
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .65)
        }
        .product-content h2 a {
            color: #343434;
            -webkit-transition: .2s all;
            -o-transition: .2s all;
            transition: .2s all;
        }
    }
}





.post-subtitle {
    h2 {
        margin: 30px 0 8px;
        font-size: 20px;
        a {
            color: #444;
        }
    }
}
.entry-meta {
    margin-top: 6px;
}
.entry-title {
    color: $blue;
}

// DW Question Answers
.dwqa-content-edit-form {
    input[type="submit"] {
        margin-top: 30px;
    }
}



// Blog Post banner promotion





// Contact Form CSS
.contact-form-options {
    label {
        width: 100%;
            font-weight: 400;
    color: #555;
    margin-bottom: 5px;
    }
    .wpcf7-textarea {
        width: 100%;
        border: 2px solid #f0f0f0;
        margin-top: 10px
    }

    .wpcf7-textarea:focus {
        outline: none;
        padding-left: 10px;
    }

    .wpcf7 input {
        width: 100%;
        height: 50px;
        outline: none;
        margin-top: 5px;
        font-size: 18px;
        padding-left: 10px;
        border: 2px solid #f0f0f0;
    }

    .wpcf7 .form-group {
        margin-bottom: 25px
    }

    .wpcf7-select {
        box-shadow: none;
        height: 50px;
        border-radius: 0
    }

    .wpcf7-select:focus {
        box-shadow: none
    }

    input.wpcf7-submit {
        width: auto;
        color: #fff;
        padding: 6px 40px;
        background: $blue;
        border:none;
        height: 40px;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }
}


// Thank you
.thank-you-message {
    margin-top:140px;
    padding-bottom:50px;
    .block {
        box-shadow: 0px 0px 60px 15px rgba(0, 0, 0, 0.12);
        padding: 60px 20px;
        .message-title {
            padding-bottom:15px;
            margin-bottom: 15px;
            font-size: 25px;
        }
    }
    .message-info {
        width:50%;
        margin:0 auto;
        margin-top: 30px;
        li {
            display: block;
            text-align: left;
            list-style-type: decimal;
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
}

// Themefisher Modal
.tf-modal {
    .modal-content {
        border-radius:0;
        padding:30px;
    }
}


// Download category page title
.download-category-title {
    padding-top:30px;
    .page-title {
        font-size:30px;
    }
}


// Blog Post Sticky Menu 
.post-sticky-menu {
    display:none;
    &.fixed{
        display:block;
        position: fixed;
        top: 150px;
        width: 150px;
        margin-left: -180px;
        margin-right: 0px;
        width: 150px;
        text-align: right;
    }
    .nav {
        border-right:3px solid $primary-color;
        li {
            a {
                color:#444;
                font-weight:bold;
                &:hover , &:active , &:focus{
                    background: $primary-color;
                    color:$light;
                }
            }
        }
    }
}
