
// Cart Empty
.woocommerce-empty-cart-area {
	h4 {
		margin-top: 20px;
		margin-bottom:3px;
	}
}
.cart-icon {
	position:relative;
	display: inline-block;
	i {
		font-size: 90px;
	}
	i.close-icon {
	    border-radius: 50%;
	    color:  #66ad43;
	    font-size: 30px;
	    left: auto;
	    padding: 7px;
	    position: absolute;
	    right: -24px;
	    top: 2px;
	    opacity: 1;
	}
}



// EDD FREE DOWNLOADS - Extention CSS
.jBox-container {
	width:600px;
	border-radius:0!important;
	.jBox-content {
		width: 100%!important;
	}
	#edd_free_download_form {
		padding:20px 25px;
		h2 {
			font-size: 22px;
			text-align: center;
			color: #3c3c3c;
			text-transform: uppercase;
			padding-bottom:30px;
			font-weight: 600;
		}
		input {
			height: 50px;
			padding-left: 10px;
			font-size: 16px;
			outline: none;
			margin-bottom: 6px;
			border:2px solid #f0f0f0;
		}
		label {
			font-weight:400;
			color: #555;
			margin-bottom: 5px;
		}
		button {
			background: $blue;
			border:none;
			height: 50px;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1px;
			margin-top: 10px;
			outline: none;
			-webkit-transition: .3s all;
			-o-transition: .3s all;
			transition: .3s all;
			&:hover {
				background: $dark-blue;
			}
		}
		.reg-title {
			font-size: 15px;
			font-weight: 300;
			margin-bottom: 20px;
		}
	}
}










// Login Page Modification CSS
.tf-wc-login-wrapper {
	background: #1D2B64; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #1D2B64 , #F8CDDA); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #1D2B64 , #F8CDDA);
	padding:160px 0;
	.tf-wc-login {
		background: $light;
		padding:30px 20px;
		width: 50%;
		float: left;
		h2 {
			text-align: center;
			font-size: 22px;
			font-weight:400;
		}
		form.login {
			padding:0;
			border:none;
			border-radius: 0;
			label {
				font-weight: 400;
				font-size: 14px;
			}
		}
		p {
			padding-left: 0;
		}
		input[type=submit] {
			margin-top: 15px;
		}

		.lost_password {
			font-size: 14px;
			a {
				font-weight: 400;
				color: $blue;
			}
		}
	}
	.tf-wc-register {
		width: 50%;
		float: left;
	    background: rgba(30, 44, 101, 0.51);
	    margin-top: 20px;
	    padding:30px 20px;
	    h2 {
	    	color: $light;
	    	text-align: center;
	    	font-size: 22px;
			font-weight:400;
			margin-bottom:0px;
	    }
		p {
			color: $light;
		}
		form {
			border:none;
			padding:0;
			margin-top: 8px;
			label {
				font-weight: 300;
				font-size: 14px;
			}
			input {
				color: #000;
			}
			input[type=submit] {
				margin-top: 10px;
			}
		}
	}
}









// Checkout Page Redesign
.woocommerce-message {
    border-color: $blue!important;
    background: none;
    font-size: 16px;
    color: #616366;
    a {
		font-weight: bold!important;
		border-bottom: 2px solid #f7f7f7!important;
		-webkit-transition: color 0.2s ease, border-color 0.2s ease;
		-moz-transition: color 0.2s ease, border-color 0.2s ease;
		transition: color 0.2s ease, border-color 0.2s ease;
		float: right;
		color: #666;
		&:hover {
			color: $blue;
			border-color:$blue;
			text-decoration: none;
		}
    }
}
.woocommerce-message, .woocommerce-info, .woocommerce-error {
    clear: both;
    display: block;
    padding: 12px 24px;
    margin-bottom: 72px;
    position: relative;
    border: 3px solid;
}


.tf-wc-checkout-form{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 50%;
    padding-left: 20px;
    .tf-wc-checkout-form-wrapper {
	    box-sizing: border-box;
	    background-color: #fff;
	    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.08);
	    padding: 40px;
	    margin-right: 40px;
	    border-radius: 4px;
	    position: relative;
    }
}







// Vendor Dashboard Style (EDD FES)

.dashboard-author-intro {
	h3 {
	}
	p {
		font-size:14px;
		line-height:1;
	}
}

.fes-vendor-menu {
	border:1px solid $border-color;
	padding:20px 20px 0 20px; 
	ul {
		margin-bottom:0;
		margin-top:30px;
		li {
			display: inline-block;
			margin:0 8px;
			&.fes-vendor-logout-tab {
				a {
					color: $error;
				}
			}
			&:first-child {
				margin-left:0;
			}
			&.active {
				border-bottom:3px solid $primary-color;
			}
			a {
				color: #444;
				font-weight:500;
				font-size:14px;
				padding-bottom:8px;
				display:inline-block;
			}
		}
	}
}


#fes-vendor-dashboard {
	padding:30px;
	background: #f9f9f9;
	.fes-headers {
		font-size:18px;
		display:none;
	}
	.fes-el {
		margin-bottom:20px;
	}
	.fes-fields {
		input, textarea {
			outline:none;
			padding-left:4px;
		}
		.textfield, .url  {
			height:40px;
			width: 60%;
		}
		.email {
			height:40px;
			width: 60%;	
		}
		.textareafield {
			height:200px;
			width: 60%;
		}
		
		select{
			width: 60%;
		    height:40px;
			border: 1px solid $border-color!important;
			margin-bottom: 20px;
		    outline: none;
		    padding-left: 10px;
		    cursor: pointer;
		    border: none;
		    border-radius: 0;
		    font-weight: normal;
		    background-color: $light;
		    -webkit-appearance: none;
		    -moz-appearance: window;
		}
		.fes-feat-image-btn {
			background-color: #e5f1f8;
			border: 2px dashed #fff;
			padding: 50px 30px;
			text-align: center;
			border-radius: 0px;
			width: 50%;
			outline:none;
			font-weight:bold;
			color: $primary-color;	
		}
		.fes-variations-list-multiple {

			input {
				height:35px;
				padding-left:10px;
				width: 100%;
				outline:none;
				border:1px solid $border-color;
			}

		}
	}
	.fes-table {
		background: $light;
		padding:10px;
		&.table-striped>tbody>tr:nth-of-type(odd) {
			background: $light;
		}
		.download-status {
			&.published {
				color:$success;
				font-weight:bold;
			}
		}
		.edit-product-fes {
			color:$error;
			margin:0 5px;
		}
	}
	
}




.fes-single-variation {
	td {
		width: 30%;
	}
	.fes-delete-row {
		.edd-fes-delete {
			color:$error;
			font-size:20px;
		}
	}
	.upload_file_button {
		background:#e5f1f8;
		color: $primary-color;
		border-radius:0;
		font-weight:bold;		
	}
	
}

.fes-help {
	display:block;
	font-size:12px;
	margin-bottom:10px;
}
.insert-file-row {
	margin-top:6px!important;
	font-size:12px;
	border-radius:0;
}
.edd-submit.button.blue {
	@extend .btn-blue ;
	border:none;
}
.sweet-alert button {
	background-color: $primary-color!important;
}


.fes-login-form {
	.fes-el {
		margin-bottom:10px;
	}
	.fes-fields {
		input, textarea , .password {
			outline:none;
			padding-left:4px;
			border:1px solid $border-color;
		}
		.textfield, .url , .textfield {
			height:40px;
			width: 60%;
		}
		.email {
			height:40px;
			width: 60%;	
		}
		.textareafield {
			height:200px;
			width: 60%;
		}
	}
}

.fes-headers {
	padding-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 1px solid $border-color;
}

.edd-required-indicator {
	color: $error;
}


// FES Login page style
.fes-login-registration-combo {
	width: 100%!important;
}
#fes_login_registration_form_row_left {
	width: 50%;
}




// Single Download Page Edd style
.product-description .product-details .edd_download_purchase_form {
	display:none;
}

