$blue: #00aeef;

$primary-color:#00aeef;



$dark-blue: #0491C6;

$white: #fff;

$light: #fff;

$orange : #FF4500;

$dark-orange : #D0400B;

$error: #FF4500;

$success: #60c260;


$text-gray : #312D3B; 


$black : #000;

$gray : #444;

$light-gray : #666;

$border-color: #dedede;



$dark-gray : #111;

$primary-font :'Roboto', sans-serif;

$secondary-font : 'Playfair Display', serif;

// $open-sans: 'Open Sans', sans-serif;

$tf-font: 'themefisher-font', sans-serif;
